<!-- start header -->
<div class="container" id="header">
    <div class="row">
        <div class="col-sm-12 col-md-7 right">
            <i class="fas fa-cog gear-1"></i>
            <i class="fas fa-cog gear-2"></i>
            <img src="/static/assets/images/header-img.jpg" alt="header" class="img-fluid">
            <span class="sq1"></span>
            <span class="sq2"></span>
            <span class="sq3"></span>
        </div>
        <div class="col-sm-12 col-md-5 left">
            <h1>
                مرجع تخصصی ترین دوره ها
            </h1>
            <p>
                با ما متخصص دانش مورد نظرتان شوید
            </p>
        </div>
    </div>
</div>
<!-- end header -->

<!-- start course -->
<div class="container mt-5" id="course">
    <div class="pipe"></div>
    <div class="row">
        <div class="col-sm-12 col-md-4 course-container">
            <div class="course">
                <div class="teacher-container">
                    <img src="/static/assets/images/teacher.jpg" alt="teacher" class="teacher img-fluid">
                    <span class="teacher-name">مدرس : مهدی عطایی</span>
                </div>
                <div class="course-header">
                    <div class="info">
                        <p>در حال برگذاری</p>
                    </div>
                    <div class="img-course">
                        <img src="/static/assets/images/4905827.jpg" alt="thumb" class="img-fluid thumb">
                    </div>
                </div>
                <div class="course-body">
                    <div class="course-title">
                        طراحی وب
                    </div>
                    <div class="description">
                        <p>جلسه سوم طراحی وب بررسی مباحث پایه صفحات وب</p>
                    </div>
                    <div class="meta">
                        <span class="time"><i class="fas fa-history"></i>12 ساعت</span>
                        <span class="free">غیر رایگان</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 course-container">
            <div class="course">
                <div class="teacher-container">
                    <img src="/static/assets/images/teacher.jpg" alt="teacher" class="teacher img-fluid">
                    <span class="teacher-name">مدرس : مهدی عطایی</span>
                </div>
                <div class="course-header">
                    <div class="info">
                        <p>در حال برگذاری</p>
                    </div>
                    <div class="img-course">
                        <img src="/static/assets/images/UI.jpg" alt="thumb" class="img-fluid thumb">
                    </div>
                </div>
                <div class="course-body">
                    <div class="course-title">
                        UI designer
                    </div>
                    <div class="description">
                        <p>جلسه هفتم طراحی ui بررسی مباحث برنامه ادوبی XD</p>
                    </div>
                    <div class="meta">
                        <span class="time"><i class="fas fa-history"></i>40 ساعت</span>
                        <span class="free">غیر رایگان</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 course-container">
            <div class="course">
                <div class="teacher-container">
                    <img src="/static/assets/images/teacher.jpg" alt="teacher" class="teacher img-fluid">
                    <span class="teacher-name">مدرس : مهدی عطایی</span>
                </div>
                <div class="course-header">
                    <div class="info">
                        <p>در حال برگذاری</p>
                    </div>
                    <div class="img-course">
                        <img src="/static/assets/images/webinar.jpg" alt="thumb" class="img-fluid thumb">
                    </div>
                </div>
                <div class="course-body">
                    <div class="course-title">
                        جاوا اسکریپت
                    </div>
                    <div class="description">
                        <p>جلسه بیست و یکم جاوااسکریپت بررسی مباحث انیمیشن ها</p>
                    </div>
                    <div class="meta">
                        <span class="time"><i class="fas fa-history"></i>12 ساعت</span>
                        <span class="free">غیر رایگان</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end course -->


<!-- start path -->
<div class="container mt-200" id="path">
    <div class="row d-flex justify-content-between">
        <div class="col-sm-12 col-md-6 right-side order-sm-2 order-lg-first">
            <img src="/static/assets/images/path-1.jpg" alt="path-1" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-6 left-side">
            <h1>
                دوره متخصص طراحی وب
            </h1>
            <p>
                دوره تخصص طراحی وب یک دوره کامل از پایه تا متخصص شدن می باشد ومدرسین دوره ما همگی افرادی هستند که
                تجربه کاری در بزرگترین شرکت های حوزه فناوری ایران همانند دیجی کالا را دارند
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-sm-12 col-md-6 right-side order-2">
            <img src="/static/assets/images/path-2.jpg" alt="path-2" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-6 left-side">
            <h1>
                دوره متخصص طراحی UI design
            </h1>
            <p>
                دوره تخصص UI Designer ومدرسین دوره ما همگی افرادی هستند که تجربه کاری در بزرگترین شرکت های حوزه
                فناوری ایران همانند دیجی کالا را دارند در این دوره تمامی اصول متخصص شدن و کاربردی ترین پروژه ها می
                باشد یک دوره کامل از پایه تا متخصص شدن می باشد
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-sm-12 col-md-6 right-side order-sm-2 order-lg-first">
            <img src="/static/assets/images/path-3.jpg" alt="path-3" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-6 left-side">
            <h1>
                دوره متخصص ربات نویسی تلگرام
            </h1>
            <p>
                دوره تخصص ربات تلگرام یک دوره کامل از پایه تا متخصص شدن می باشدبا زبان پایتون می باشدومدرسین دوره ما
                همگی افرادی هستند که تجربه کاری در بزرگترین شرکت های حوزه فناوری ایران همانند دیجی کالا را دارند
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-sm-12 col-md-6 right-side order-2">
            <img src="/static/assets/images/path-4.jpg" alt="path-4" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-6 left-side">
            <h1>
                دوره متخصص طراحی وب برای سئو
            </h1>
            <p>
                دوره تخصص طراحی وب برای سئو یک دوره کامل از پایه تا متخصص شدن می باشدومدرسین دوره ما همگی افرادی
                هستند که تجربه کاری در بزرگترین شرکت های حوزه فناوری ایران همانند دیجی کالا را دارند
            </p>
        </div>
    </div>
</div>
<!-- end path -->


<!-- start topic -->
<div class="container mt-200" id="topic">
    <div class="title">آخرين مطالب</div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="topic-wrapper">
                <div class="topic-img">
                    <img src="/static/assets/images/topic-1.jpg" alt="topic" class="img-fluid">
                </div>
                <div class="topic-detail">
                    <div class="topic-title">
                        چگونه در صفحات مجازي كسب و كار خود را رشد دهيم؟
                    </div>
                    <div class="topic-meta">
                        <span class="author">نويسنده :‌مهدي عطايي</span>
                        <span class="time-post">29/10/1400</span>
                    </div>
                    <div class="topic-description">
                        قطعا شبكه هاي اجتماعي امروزه بسيار استفاده و ترند شده است و بهترين راه براي تبليغات كسب و
                        كار و دانش خودمان مي باشد و علاوه بر اينكه ميتوانيم كسب درآمد كنيم...
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="topic-wrapper">
                <div class="topic-img">
                    <img src="/static/assets/images/topic-1.jpg" alt="topic" class="img-fluid">
                </div>
                <div class="topic-detail">
                    <div class="topic-title">
                        چگونه در صفحات مجازي كسب و كار خود را رشد دهيم؟
                    </div>
                    <div class="topic-meta">
                        <span class="author">نويسنده :‌مهدي عطايي</span>
                        <span class="time-post">29/10/1400</span>
                    </div>
                    <div class="topic-description">
                        قطعا شبكه هاي اجتماعي امروزه بسيار استفاده و ترند شده است و بهترين راه براي تبليغات كسب و
                        كار و دانش خودمان مي باشد و علاوه بر اينكه ميتوانيم كسب درآمد كنيم...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12 col-md-6">
            <div class="topic-wrapper">
                <div class="topic-img">
                    <img src="/static/assets/images/topic-1.jpg" alt="topic" class="img-fluid">
                </div>
                <div class="topic-detail">
                    <div class="topic-title">
                        چگونه در صفحات مجازي كسب و كار خود را رشد دهيم؟
                    </div>
                    <div class="topic-meta">
                        <span class="author">نويسنده :‌مهدي عطايي</span>
                        <span class="time-post">29/10/1400</span>
                    </div>
                    <div class="topic-description">
                        قطعا شبكه هاي اجتماعي امروزه بسيار استفاده و ترند شده است و بهترين راه براي تبليغات كسب و
                        كار و دانش خودمان مي باشد و علاوه بر اينكه ميتوانيم كسب درآمد كنيم...
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="topic-wrapper">
                <div class="topic-img">
                    <img src="/static/assets/images/topic-1.jpg" alt="topic" class="img-fluid">
                </div>
                <div class="topic-detail">
                    <div class="topic-title">
                        چگونه در صفحات مجازي كسب و كار خود را رشد دهيم؟
                    </div>
                    <div class="topic-meta">
                        <span class="author">نويسنده :‌مهدي عطايي</span>
                        <span class="time-post">29/10/1400</span>
                    </div>
                    <div class="topic-description">
                        قطعا شبكه هاي اجتماعي امروزه بسيار استفاده و ترند شده است و بهترين راه براي تبليغات كسب و
                        كار و دانش خودمان مي باشد و علاوه بر اينكه ميتوانيم كسب درآمد كنيم...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end topic -->