<section class="hero" id="hero">
    <div class="container">
        <h2 class="sub-headline">
            خوش آمدید
        </h2>
        <h1 class="headline">به رستوران رز</h1>
        <div class="headline-description">
            <div class="separator">
                <div class="line line-left"></div>
                <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                <div class="line line-right"></div>
            </div>
            <h5>آماده گردش تو رستوران هستی</h5>
            <div class="single-animation">
                <a href="" class="btn cta-btn">بزن بریم</a>
            </div>
        </div>
    </div>
</section>
<!-- hero end -->
<section class="dicover-our-story">
    <div class="container">
        <div class="resturant-info">
            <div class="resturant-description padding-right animat-left">
                <div class="global-headline">
                    <h2 class="sub-headline">
                        <span class="first-letter">كشف كردن
                    </h2>
                    <h1 class="headline headline-dark">داستان ما</h1>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                </div>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                    مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                </p>
                <a href="" class="btn btn-body">درباره ما</a>

            </div>
            <div class="resturant-img animate-right">
                <img src="/static/assets/images/Drink And Food Wallpaper Desktop 18687 Wallpaper WallpapersTubecom.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- dicover-our-story end-->
<section class="testful-recepes between">
    <div class="container">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-headline">
                    <span class="first-letter">با سلیقه
                </h2>
            </div>
            <div class="animate-bottom">
                <h1 class="headline headline-dark">دستور پخت</h1>
                <div class="asterisk"><i class="fas fa-asterisk"></i></div>
            </div>
        </div>
    </div>
</section>
<!-- testful-recepies end-->
<section class="discover-our-menu">
    <div class="container">
        <div class="resturant-info">
            <div class="image-group padding-right animate-left">
                <img src="/static/assets/images/food desktop wallpaper.jpg" alt="">
                <img src="/static/assets/images/Drink And Food Wallpaper Desktop 18687 Wallpaper WallpapersTubecom.jpg" alt="">
                <img src="/static/assets/images/0KH5pV.jpg" alt="">
                <img src="/static/assets/images/unnamed.jpg" alt="">
            </div>
            <div class="resturant-description animate-right">
                <div class="global-headline">
                    <h2 class="sub-headline">
                        <span class="first-letter">کشف کردن
                    </h2>
                    <h1 class="headline headline-dark">منو</h1>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                </div>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                    مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                </p>
                <a href="" class="btn btn-body">دیدن کل منو</a>
            </div>
        </div>
    </div>
</section>
<!-- discover-our-menu end -->
<section class="perfect-menu between">
    <div class="container">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-headline">
                    <span class="first-letter">کامل
                </h2>
            </div>
            <div class="animate-bottom">
                <h1 class="headline">ترکیب</h1>
            </div>
        </div>
    </div>
</section>
<!-- perfect-menu -->
<section class="culinary-delight">
    <div class="container">
        <div class="resturant-info">
            <div class="resturant-description padding-right animat-left">
                <div class="global-headline">
                    <h2 class="sub-headline">
                        <span class="first-letter">آشپزی
                    </h2>
                    <h1 class="headline headline-dark">با لذت بسیار</h1>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                </div>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                    مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                </p>
                <a href="" class="btn btn-body">رزور کردن</a>

            </div>
            <div class="image-group">
                <img class="animate-top"
                    src="/static/assets/images/Drink And Food Wallpaper Desktop 18687 Wallpaper WallpapersTubecom.jpg" alt="">
                <img class="animate-bottom" src="/static/assets/images/wallpapers food desktop wallpaper 1920x1200.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- culinary-delight -->