<div class="container-fluid">
    <header class="row">
        <div class="col-sm-12 col-lg-12 title-header">
            <div class="owner-description">
                <span>سلام من</span>
                <h1>مهدی <br>عطایی</h1>
                <p>یه <span>طراح وب</span> جوان و خلاق مشتاق به چالش جدید</p>
            </div>
            <div class="social-icon">
                <span>در شبکه های اجتماعی من را دنبال کنبد</span>
                <ul>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="call-to-actions-btn">
                <a href="/contactMe" class="btn btn-ghost">استخدام من</a>
                <a href="/portfolio" class="btn btn-danger">نمونه کار</a>
            </div>
            <div class="banner d-none d-lg-block">
                <img src="/static/assets/images/banner-header.jpg" class="img-fluid" alt="banner">
            </div>
        </div>

    </header>
</div>
<!-- ########## About me start ########### -->
<div class="container" id="about-me">
    <div class="row">
        <div class="col-sm-12 col-lg-6 right-section order-sm-2">
            <div class="img-wrapper">
                <img src="/static/assets/images/about-me.jpg" class="img-fluid" alt="about-me">
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 left-section">
            <div class="title">
                <h3>درباره من</h3>
            </div>
            <p>
                من یک برنامه نویس جونیور در زمینه طراحی وب هستم و به زبان های وب از جمله html,css,js,nodejs و
                فریمورک های مختلف در زمینه وب مسلط هستم و توان کار در فرانت اند و بکند سایت را دارا می باشم و
                پروژه
                های مختلفی در این زمینه طراحی کرده ام
            </p>
            <a class="btn btn-ghost" href="/static/assets/files/MyResume.pdf" download="رزومه">
                دانلود رزومه
            </a>
        </div>
    </div>
</div>
<!-- ########## About me end ########### -->


<!-- ########## start portfolio ############ -->
<div class="container-fluid" id="protfolio" dir="ltr">
    <div class="row">
        <div class="col-sm-12 wrapper-portfolio">
            <div class="title">
                <h3>نمونه کار</h3>
            </div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <a href="/portfolio">
                        <img src="/static/assets/images/Ecommerse.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="/portfolio">
                        <img src="/static/assets/images/eLearning.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="/portfolio">
                        <img src="/static/assets/images/english-course.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="/portfolio">
                        <img src="/static/assets/images/Resturant.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="/portfolio">
                        <img src="/static/assets/images/zenHost.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="/portfolio">
                        <img src="/static/assets/images/Resturant.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="item">
                    <a href="/portfolio">
                        <img src="/static/assets/images/landing-page.jpg" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ########## end portfolio ############ -->

<!-- ########## start capability ############ -->
<div class="container" id="capability">
    <div class="row">
        <div class="col-sm-12 col-lg-6 right-section-cap">
            <div class="title mb-5">
                <h3>مهارت های من</h3>
            </div>
            <div class="progress-wrapper">
                <div class="progress custom-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100" style="width: 80%;">
                        <div class="skills-info">HTML<span>80%</span></div>
                    </div>
                </div>
            </div>
            <div class="progress-wrapper">
                <div class="progress custom-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100" style="width: 70%;">
                        <div class="skills-info">CSS<span>70%</span></div>
                    </div>
                </div>
            </div>
            <div class="progress-wrapper">
                <div class="progress custom-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100" style="width: 65%;">
                        <div class="skills-info">JS<span>65%</span></div>
                    </div>
                </div>
            </div>
            <div class="progress-wrapper">
                <div class="progress custom-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100" style="width: 80%;">
                        <div class="skills-info">BOOTSTRAP<span>80%</span></div>
                    </div>
                </div>
            </div>
            <div class="progress-wrapper">
                <div class="progress custom-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100" style="width: 60%;">
                        <div class="skills-info">NODE JS<span>60%</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 left-section-cap">
            <div class="img-wrapper">
                <img src="/static/assets/images/capability.jpg" alt="capability" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- ########## end capability ############ -->

<!-- ########## start call us ############ -->
<div class="container" id="call-us" dir="ltr">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="title">
                <h3>برای ارتباط با من میتوانید به من ایمیل بزنید</h3>
            </div>

            <div class="send-email">
                <form action="/store" method="post" class="row" autocomplete="off" id="form">
                    <div class="col-sm-12 col-lg-6">
                        <div class="inputs-wrapper">
                            <input type="text" id="user_name" name="user_name" placeholder=" ">
                            <label for="user_name">نام</label>
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message</small>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="inputs-wrapper">
                            <input type="email" id="user_email" name="user_email" placeholder=" ">
                            <label for="user_email">ایمیل</label>
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message</small>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="inputs-wrapper">
                            <input type="text" id="user_phone" name="user_phone" placeholder=" ">
                            <label for="user_phone">تلفن</label>
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error Message</small>
                        </div>
                    </div>
                    <div class="col-sm-12 area">
                        <div class="area-wrapper">
                            <textarea style="color: #000;" name="user_comment" id="user_comment" cols="30"
                                rows="10"></textarea>
                            <span>* ایمیل و اطلاعات شما پخش نخواهد شد</span>
                        </div>
                    </div>
                    <div class="col-sm-12 button-wrapper">
                        <button type="submit" class="btn btn-danger">ارسال</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ########## end call us ############ -->