<div class="container-fluid">
    <div class="row">
        <div class="header-background">
            <div class="description">
                  صفحه نمونه کار ها
                <br>
                این صفحه در حال تکمیل است
            </div>
            <img src="/static/assets/images/header.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>


<!-- ############## start portfolio ############### -->
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <div class="card border-0 mb-md-0 mb-3 box-hover">
                <a href="/portfolio/landing">
                    <img class="card-img-top" src="/static/assets/images/landing-page.jpg" alt="card image" />
                </a>
                <div class="card-body py-4">
                    <h6 class="mb-2">صفحه لندینگ</h6>
                    <div>
                        <p>بهترین قالب را پیدا کنید</p>
                        <a href="#">دیدن کامل</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-0 mb-md-0 mb-3 box-hover">
                <a href="/portfolio/resturant">
                    <img class="card-img-top" src="/static/assets/images/Resturant.jpg" alt="card image" />
                </a>
                <div class="card-body py-4">
                    <h6 class="mb-2">صفحه رستوران</h6>
                    <div>
                        <p>بهترین قالب را پیدا کنید</p>
                        <a href="#">دیدن کامل</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-0 mb-md-0 mb-3 box-hover">
                <a href="/portfolio/ecommerce">
                    <img class="card-img-top" src="/static/assets/images/Ecommerse.jpg" alt="card image" />
                </a>
                <div class="card-body py-4">
                    <h6 class="mb-2">صفحه فروشگاهی</h6>
                    <div>
                        <p>بهترین قالب را پیدا کنید</p>
                        <a href="#">دیدن کامل</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-0 mb-md-0 mb-3 box-hover">
                <a href="/portfolio/Elearning">
                    <img class="card-img-top" src="/static/assets/images/eLearning.jpg" alt="card image" />
                </a>
                <div class="card-body py-4">
                    <h6 class="mb-2">صفحه آموزشی</h6>
                    <div>
                        <p>بهترین قالب را پیدا کنید</p>
                        <a href="#">دیدن کامل</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-0 mb-md-0 mb-3 box-hover">
                <a href="/portfolio/english">
                    <img class="card-img-top" src="/static/assets/images/english-course.jpg" alt="card image" />
                </a>
                <div class="card-body py-4">
                    <h6 class="mb-2">صفحه آموزش زبان</h6>
                    <div>
                        <p>بهترین قالب را پیدا کنید</p>
                        <a href="#">دیدن کامل</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############## end portfolio ############### -->