<!-- ######### start header ########## -->
<div class="container-fluid overflow-hidden" id="header">
    <div class="row">
        <div class="container background-header">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="right-section description">
                        <p>ما کمک می کنیم</p>
                        <h1>به حل مشکل <br> مشتریان</h1>
                        <p>فعالیت های ما به مشتریان کمک می کند که مشکلاتشان را به راحتی حل کنند</p>
                        <div class="call-to-action">
                            <a href="#" class="btn btn-white">نمونه کار های ما</a>
                            <a href="#" class="fas fa-play play-icon"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <img src="/static/assets/images/header-title.png" class="img-fluid title-bg" alt="header">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ######### end header ########## -->

<!-- ########## start company trust ############# -->
<div class="container" dir="ltr" id="company">
    <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
            <div class="title">
                <p>این شرکت ها به ما اعتماد کردند</p>
                <h3>با بازاریابی آنها</h3>
            </div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="/static/assets/images/brand-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="item">
                    <img src="/static/assets/images/brand-2.png" class="img-fluid" alt="">
                </div>
                <div class="item">
                    <img src="/static/assets/images/brand-3.jpg" class="img-fluid" alt="">
                </div>
                <div class="item">
                    <img src="/static/assets/images/brand-4.jpg" class="img-fluid" alt="">
                </div>
                <div class="item">
                    <img src="/static/assets/images/brand-5.jpg" class="img-fluid" alt="">
                </div>
                <div class="item">
                    <img src="/static/assets/images/brand-3.jpg" class="img-fluid" alt="">
                </div>
                <div class="item">
                    <img src="/static/assets/images/brand-2.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ########## end company trust ############# -->

<!-- ############# start about us ############# -->
<div class="container" id="about-us">
    <div class="row">
        <div class="col-sm-12 col-lg-6 right-side order-last order-md-first">
            <div class="title">
                <h3>درباره ما</h3>
                <p>ماموریت ما تبدیل شدن به بهترین آژانس طراحی در جهان است!</p>
            </div>
            <div class="describe">
                <p>شما می گویید یک آژانس بازاریابی برون سپاری شده چیست؟ خوب، ما نقطه مقابل آژانس کارآمد شما هستیم که
                    نظارت می کند و تحویل ناقص می دهد.
                    <br><br>
                    اخیراً در مورد بستن بزرگترین قراردادها بوده است. اما در مورد ایجاد بیشترین تأثیر برای مشتریان
                    چیست؟ هدف ما دستیابی به نتایجی است که بدون گرانی، مشتریان را خوشحال کند.
                    <br><br>
                    احساس شک دارید؟ با ما کار کنید و تفاوت بین سرمایه‌گذاری شرکای بازاریابی برای رشد شما و
                    فروشندگانی که برای دوشیدن شیر شما سرمایه‌گذاری می‌کنند را ببینید!
                </p>
                <a href="#" class="btn btn-white">بیایید صحبت کنیم!</a>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 left-side order-first order-md-last">
            <img src="/static/assets/images/laptop.jpg" alt="laptop" class="img-fluid">
        </div>
    </div>
</div>
<!-- ############# end about us ############# -->

<!-- ############### start statistics ############### -->
<div class="container" id="statistics" dir="ltr">
    <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
            <div class="title">
                <p>آژانس دیجیتال مارکتینگ و توسعه نرم افزار</p>
                <h3>خدمات کامل طراحی سایت شرکت.</h3>
            </div>
            <div class="statistics-wrapper">
                <div class="client">16K <span>مشتری</span></div>
                <div class="member">189+ <span>عضو تیم</span></div>
                <div class="work">13K <span>کارهای فعال</span></div>
            </div>
        </div>
    </div>
</div>
<!-- ############### end statistics ############### -->

<!-- ############### start services ############### -->
<div class="container-fluid" id="services">
    <div class="row justify-content-around">
        <div class="title">
            <p>ما یک آژانس دیجیتال هستیم</p>
            <h3>خدمات کارشناسان برای تغییر کسب و کار</h3>
        </div>
        <div class="col-sm-12 col-md-5 item">
            <div class="pragraph">
                <h4>ساخت لینک</h4>
                <p>
                    ما بک لینک های کلاه سفید را یاد می گیریم و ترافیک واجد شرایط را از طریق پست مهمان به کسب و کار
                    شما ارسال می کنیم.
                </p>
            </div>
            <div class="icon">
                <img src="/static/assets/images/link.svg" class="img-fluid" alt="">
            </div>
            <div class="plus">
                <i class="fas fa-plus"></i>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 item">
            <div class="pragraph">
                <h4>خدمات سئو</h4>
                <p>
                    از تولید محتوا گرفته تا مشاوره و تحقیق در مورد کلمات کلیدی، ما می توانیم به شما کمک کنیم تا از
                    رقبای خود پیشی بگیرید.
                </p>
            </div>
            <div class="icon">
                <img src="/static/assets/images/eye.svg" class="img-fluid" alt="eye">
            </div>
            <div class="plus">
                <i class="fas fa-plus"></i>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 item">
            <div class="pragraph">
                <h4>طراحی و توسعه وب</h4>
                <p>
                    ما وب‌سایت‌هایی می‌سازیم که نه تنها عالی به نظر می‌رسند، بلکه برای UX، تبدیل‌ها و دیده شدن
                    موتورهای جستجو نیز بهینه شده‌اند.
                </p>
            </div>
            <div class="icon">
                <img src="/static/assets/images/pc.svg" class="img-fluid" alt="pc">
            </div>
            <div class="plus">
                <i class="fas fa-plus"></i>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 item">
            <div class="pragraph">
                <h4>بازاریابی برای شما انجام شد</h4>
                <p>
                    تمام نیازهای بازاریابی خود را به یک تیم بازاریابی اختصاصی که فقط برای تجارت شما انتخاب شده است
                    برون سپاری کنید.
                </p>
            </div>
            <div class="icon">
                <img src="/static/assets/images/speaker.svg" class="img-fluid" alt="speaker">
            </div>
            <div class="plus">
                <i class="fas fa-plus"></i>
            </div>
        </div>
    </div>
</div>
<!-- ############### end services ############### -->

<!-- ############### start portfolio ############### -->
<div class="container-fluid" id="portfolio">
    <div class="row">
        <div class="container" dir="ltr">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <p>نمونه کار های ما</p>
                        <h3>ما یک نمونه کار بزرگ برای بررسی داریم</h3>
                    </div>
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="img-wrapper">
                                <img src="/static/assets/images/portfolio-1.svg" class="img-fluid" alt="">
                            </div>
                            <div class="card-body">
                                <a href="#">
                                    <p>پروژه طراحی وب سایت</p>
                                </a>
                                <span>UX/UI طراحی</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-wrapper">
                                <img src="/static/assets/images/portfolio-2.svg" class="img-fluid" alt="">
                            </div>
                            <div class="card-body">
                                <a href="#">
                                    <p>پروژه طراحی وب سایت</p>
                                </a>
                                <span>UX/UI طراحی</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-wrapper">
                                <img src="/static/assets/images/portfolio-3.svg" class="img-fluid" alt="">
                            </div>
                            <div class="card-body">
                                <a href="#">
                                    <p>پروژه طراحی وب سایت</p>
                                </a>
                                <span>UX/UI طراحی</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-wrapper">
                                <img src="/static/assets/images/portfolio-4.svg" class="img-fluid" alt="">
                            </div>
                            <div class="card-body">
                                <a href="#">
                                    <p>پروژه طراحی وب سایت</p>
                                </a>
                                <span>UX/UI طراحی</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-wrapper">
                                <img src="/static/assets/images/portfolio-2.svg" class="img-fluid" alt="">
                            </div>
                            <div class="card-body">
                                <a href="#">
                                    <p>پروژه طراحی وب سایت</p>
                                </a>
                                <span>UX/UI طراحی</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-wrapper">
                                <img src="/static/assets/images/portfolio-4.svg" class="img-fluid" alt="">
                            </div>
                            <div class="card-body">
                                <a href="#">
                                    <p>پروژه طراحی وب سایت</p>
                                </a>
                                <span>UX/UI طراحی</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-wrapper">
                                <img src="/static/assets/images/portfolio-3.svg" class="img-fluid" alt="">
                            </div>
                            <div class="card-body">
                                <a href="#">
                                    <p>پروژه طراحی وب سایت</p>
                                </a>
                                <span>UX/UI طراحی</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <div class="title">
                        <p>وبلاگ های ما</p>
                        <h3>وبلاگ و مقاله ما</h3>
                    </div>
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="img-blog-post">
                                <a href="#"><img src="/static/assets/images/pcOnDesk.jpg" class="img-fluid" alt=""></a>
                            </div>
                            <div class="card-body">
                                <p>10/1/1401</p>
                                <a href="#"><span>چرا تصمیم گرفتیم Build DXP شما را ایجاد کنیم؟</span></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-blog-post">
                                <a href="#"> <img src="/static/assets/images/happyMen.jpg" class="img-fluid" alt=""></a>
                            </div>
                            <div class="card-body">
                                <p>9/1/1401</p>
                                <a href="#"><span>چرا تصمیم گرفتیم Build DXP شما را ایجاد کنیم؟</span></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-blog-post">
                                <a href="#"><img src="/static/assets/images/pcOnDesk.jpg" class="img-fluid" alt=""></a>
                            </div>
                            <div class="card-body">
                                <p>29/8/1400</p>
                                <a href="#"><span>چرا تصمیم گرفتیم Build DXP شما را ایجاد کنیم؟</span></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-blog-post">
                                <a href="#"><img src="/static/assets/images/business.jpg" class="img-fluid" alt=""></a>
                            </div>
                            <div class="card-body">
                                <p>14/4/1399</p>
                                <a href="#"> <span>چرا تصمیم گرفتیم Build DXP شما را ایجاد کنیم؟</span></a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img-blog-post">
                                <a href="#"><img src="/static/assets/images/laptopOnDesk.jpg" class="img-fluid"
                                        alt=""></a>
                            </div>
                            <div class="card-body">
                                <p>14/4/1400</p>
                                <a href="#"><span>چرا تصمیم گرفتیم Build DXP شما را ایجاد کنیم؟</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ############### end portfolio ############### -->