<!-- ########## start footer ############## -->
<div class="container-fluid" id="footer" style="margin-top: 5rem;">
    <div class="row">
        <div class="col-12">
            <div class="copyRight">
                <p class="text-center">تمام حقوق محفوظ است.</p>
            </div>
        </div>
    </div>
</div>
<!-- ########## end footer ############## -->