<!-- ######## header start ############# -->
<div class="container-fluid" id="header">
    <div class="row">
        <div class="col-12">
            <nav class="navBar">
                <nav class="menu">
                    <ul>
                        <li><a href="/">صفحه اصلی</a></li>
                        <li><a href="/portfolio">کارهای من</a></li>
                        <li><a href="/contactMe">ارتباط با من</a></li>
                        <li><a href="/contactMe" class="btn btn-ghost">بزن بریم</a></li>
                    </ul>
                </nav>
                <div class="logo">Mahdi Ataee</div>
            </nav>
        </div>
    </div>
</div>
<!-- ######## header end ############# -->