<!-- start section One -->
<div class="container mt-5" dir="rtl">
    <div class="row">
        <div class="col-sm-12 col-md-6" data-aos="fade-down">
            <div class="right-section">
                <div class="header-section">
                    <div class="s1-img-header">
                        <img src="/static/assets/images/english/first_png.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="body-section">
                    <p class="s1-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos accusamus culpa praesentium
                        minus eum, cupiditate, repellat dolore molestiae dignissimos provident iste officia deserunt
                        fuga quidem nemo ab nostrum temporibus fugit?
                    </p>
                    <button class="btn btn-white">Get started</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" data-aos="fade-down">
            <div class="img-wrapper">
                <img src="/static/assets/images/english/smart_phone.png" class="img-fluid" alt="phone">
            </div>
        </div>
    </div>
</div>
<!-- end section One -->

<!-- start section two -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 order-2 d-none d-md-block position-relative" data-aos="fade-up" data-aos-duration="2000">
            <img src="/static/assets/images/english/back-2.png" class="img-fluid back-2" alt="">
            <img src="/static/assets/images/english/moblie-section-two.png" class="img-fluid moblie-two" alt="">
        </div>
        <div class="col-md-6" data-aos="fade-up">
            <div class="header-section-two">
                <h5>incredibly you can <br> learn English <span>for Free!</span></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi distinctio quidem eligendi,
                    vitae consequatur corporis, deleniti voluptates cumque aperiam alias tempora necessitatibus
                    repudiandae aliquid quis quaerat accusantium aut iusto voluptatum?</p>
            </div>
            <div class="body-section-two">
                <div class="card card-black moveAnimation">
                    <h5>21K+</h5>
                    <p>Happy member</p>
                </div>
                <div class="card card-white center-self moveAnimation1">
                    <h5>3K+</h5>
                    <p>Online Video</p>
                </div>
                <div class="card card-white moveAnimation2">
                    <h5>9+</h5>
                    <p>free weekly sessions</p>
                </div>
            </div>
            <a href="" class="btn btn-transparent">Details</a>
        </div>
    </div>
</div>
<!-- end section two -->

<!-- start section three -->
<div class="container mt-5" dir="rtl" data-aos="zoom-in" data-aos-duration="1000">
    <div class="row position-relative">
        <div class="background">
            <img src="/static/assets/images/english/back3.png" alt="back">
        </div>
        <div class="col-sm-12 col-md-6 section-three-title">
            <h5>set yourself <br>achivable <span>Goals</span></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ea magnam facere doloribus amet
                perferendis consequuntur ab id velit, libero veritatis eaque impedit vel enim fugit accusamus
                placeat commodi! Animi.</p>
            <div class="controller mt-4">
                <div class="nextPrev">
                    <a id="prev">prev</a>
                    <a id="next">next</a>
                </div>
                <div class="dots">
                    <span class="indecator active" id="span-one">
                        <i class="fas fa-circle"></i>
                    </span>
                    <span class="indecator" id="span-two">
                        <i class="fas fa-circle"></i>
                    </span>
                    <span class="indecator" id="span-three">
                        <i class="fas fa-circle"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 section-three-body d-none d-md-flex">
            <div class="section-three-border">
                <span></span>
                <img src="/static/assets/images/english/happy-man-with-long-thick-ginger-beard-has-friendly-smile.jpg"
                    class="responsive-img" alt="happy person">
            </div>
        </div>
        <div class="col-md-6 section-three-slider" dir="ltr">
            <div class="slider-wrpper" id="card-wrapper">
                <div class="slider-card active" id="card1">
                    <div class="card-header">
                        <img src="/static/assets/images/english/motivation-is-important.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h5>motivate yourself</h5>
                            <p>Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit
                                Neque error fuga explicabo quae
                                ab cum.
                            </p>
                            <a href="" class="btn">Get involed now</a>
                        </div>
                    </div>
                </div>
                <div class="slider-card" id="card2">
                    <div class="card-header">
                        <img src="/static/assets/images/english/team.jpg" alt="team" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h5>improve skills</h5>
                            <p>Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit
                                Neque error fuga explicabo quae
                                ab cum.
                            </p>
                            <a href="" class="btn">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="slider-card" id="card3">
                    <div class="card-header">
                        <img src="/static/assets/images/english/pexels-max-fischer-5212345.jpg" alt="classwork"
                            class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h5>Class Work</h5>
                            <p>Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit
                                Neque error fuga explicabo quae
                                ab cum.
                            </p>
                            <a href="" class="btn">See Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section three -->

<!-- start carousel testomoniel -->
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="section-three-header-title">
                <h3 class="d-inline">testomoniel</h3>
                <p class="mt-3">what say my <span>students?</span></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 overflow-hidden section-four position-relative">
            <div class="carousel_wrapper" id="carousel_wrapper">
                <div class="carousel-section s-1">
                    <div class="person-img centralized">
                        <img src="/static/assets/images/english/person-4.png" class="img-fluid" alt="">
                    </div>
                    <div class="person-message">
                        <h6>Niki</h6>
                        <p class="person-talk"><i class="fas fa-quote-left"></i> Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. Numquam, harum
                            exercitationem.
                            Dolores hic fugiat nesciunt a reprehenderit officia qui, autem maxime illo excepturi,
                            maiores dignissimos aut, debitis voluptatum repellat veritatis! <i
                                class="fas fa-quote-right"></i></p>
                    </div>
                </div>
                <div class="carousel-section s-2">
                    <div class="person-img centralized">
                        <img src="/static/assets/images/english/person-5.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="person-message">
                        <h6>Mary</h6>
                        <p class="person-talk"><i class="fas fa-quote-left"></i> Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. Numquam, harum
                            exercitationem.
                            Dolores hic fugiat nesciunt a reprehenderit officia qui, autem maxime illo excepturi,
                            maiores dignissimos aut, debitis voluptatum repellat veritatis! <i
                                class="fas fa-quote-right"></i></p>
                    </div>
                </div>
                <div class="carousel-section s-3">
                    <div class="person-img centralized">
                        <img src="/static/assets/images/english/person-6.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="person-message">
                        <h6>markus</h6>
                        <p class="person-talk"><i class="fas fa-quote-left"></i> Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. Numquam, harum
                            exercitationem.
                            Dolores hic fugiat nesciunt a reprehenderit officia qui, autem maxime illo excepturi,
                            maiores dignissimos aut, debitis voluptatum repellat veritatis! <i
                                class="fas fa-quote-right"></i></p>
                    </div>
                </div>
                <div class="carousel-section s-4">
                    <div class="person-img centralized">
                        <img src="/static/assets/images/english/person-7.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="person-message">
                        <h6>Mickel</h6>
                        <p class="person-talk"><i class="fas fa-quote-left"></i> Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. Numquam, harum
                            exercitationem.
                            Dolores hic fugiat nesciunt a reprehenderit officia qui, autem maxime illo excepturi,
                            maiores dignissimos aut, debitis voluptatum repellat veritatis! <i
                                class="fas fa-quote-right"></i></p>
                    </div>
                </div>
                <div class="carousel-section s-5">
                    <div class="person-img centralized">
                        <img src="/static/assets/images/english/happy-man-with-long-thick-ginger-beard-has-friendly-smile.jpg"
                            class="img-fluid" alt="">
                    </div>
                    <div class="person-message">
                        <h6>Gabriel</h6>
                        <p class="person-talk"><i class="fas fa-quote-left"></i> Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. Numquam, harum
                            exercitationem.
                            Dolores hic fugiat nesciunt a reprehenderit officia qui, autem maxime illo excepturi,
                            maiores dignissimos aut, debitis voluptatum repellat veritatis! <i
                                class="fas fa-quote-right"></i></p>
                    </div>
                </div>
                <div class="carousel-section s-6">
                    <div class="person-img centralized">
                        <img src="/static/assets/images/english/person-8.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="person-message">
                        <h6>will smith</h6>
                        <p class="person-talk"><i class="fas fa-quote-left"></i> Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit. Numquam, harum
                            exercitationem.
                            Dolores hic fugiat nesciunt a reprehenderit officia qui, autem maxime illo excepturi,
                            maiores dignissimos aut, debitis voluptatum repellat veritatis!
                            <i class="fas fa-quote-right"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-controller">
                <div class="carousel-perv" id="carousel_prev">&#10094;
                </div>
                <div class="carousel-next" id="carousel-next">&#10095;
                </div>
            </div>
        </div>
    </div>
</div>
<!-- start carousel testomoniel -->

<!-- start circle menu  -->

<div class="main-container">
    <a href="" id="add"><i class="fas fa-plus"></i></a>
    <div class="circle-container">
        <div class="items">
            <i class="fas fa-user"></i>
        </div>
        <div class="items">
            <a href="" class="dark_mode"><i class="fas fa-moon"></i></a>
        </div>
        <div class="items">
            <i class="fas fa-envelope"></i>
        </div>
    </div>
</div>
<!-- end circle menu  -->