.right-section .body-section {
    font-size: 0.8rem;
    color: var(--text-color);
    font-family: var(--text-font);
}

.right-section .header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}