.dis-product {
    height: 100%;
}

.dis-product p {
    font-size: 0.8rem;
}

.dis-product a.btn {
    padding: 0.2rem 1rem;
    color: #000;
    text-decoration: none;
    background-color: rgb(33 165 33);
    font-size: 0.8rem;
    margin-top: 1rem;
}

.dis-product a.btn i {
    vertical-align: -3px;
}

.product-comment {
    display: flex;
}

.header-comment .comment-title {
    font-size: 0.7rem;
    margin-top: 1rem;
}

.header-comment {
    margin-left: 3rem;
}

.header-comment .comment-title p {
    margin:0.5rem;
}

.img-comment img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.body-comment {
    font-size: 0.8rem;
}

.body-comment p.comment-title {
    background-color: #e3e3e3;
}

.body-comment div.plus .title,
.body-comment div.minus .title {
    color: #24aeff;
    font-weight: bold;
    margin-right: 0;
    margin-bottom: 0.4rem;
}

.body-comment div.minus .title {
    color: rgb(248, 54, 54);
}

.body-comment div.plus ul,
.body-comment div.minus ul {
    padding: 0 2rem;
}

.body-comment div.plus ul li,
.body-comment div.minus ul li {
    list-style: none;
}

.body-comment div.plus ul li svg,
.body-comment div.minus ul li svg {
    font-size: 0.6rem;
    color: #914ced;
    margin-left: 0.3rem;
}

.rating a{
    margin-left: 1rem;
}

.rating a span{
    margin-right: 0.3rem;
}

.comment-title .comment-plus{
    color: #fff;
    background: #007aff;
    padding: 0.4rem 1rem;
}

.comment-title .comment-plus svg{
    font-size: 0.9rem;
    vertical-align: -2px;
}

.appling-wrapper{
    position: relative;
    margin-bottom: 1rem;
}

.appling-wrapper label{
    padding: 0.6rem 0;
    margin-bottom: 1.8rem;
    position: absolute;
    top: -1.7rem;
    right: 0;
    color: red;
    font-size: 0.7rem;
    padding-right: 0.3rem;
}

.appling-wrapper input{
    width: 100%;
    margin-bottom: 1rem;
}


.appling-wrapper input:focus ~ label{
    transform: translateY(-30px) !important;
}