<div class="col-lg-12 col-12 mb-30">
    <div class="box">
        <div class="box-head">
            <h4 class="title">پیغام ها</h4>
        </div>
        <div class="box-body">
            <div class="row mbn-15">
                <div class="col-md-4 col-12 mb-15">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#author">
                                <i class="zmdi zmdi-home"></i> نویسنده
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#message">
                                <i class="zmdi zmdi-account"></i> متن پیام
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#contact4">
                                <i class="zmdi zmdi-phone"></i> شماره تماس
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#email">
                                <i class="zmdi zmdi-email-open"></i> ایمیل
                            </a>
                        </li>
                    </ul>
                </div>
                {{#each comments}}

                <div class="col-md-8 col-12 mb-15">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="author">
                            <p>
                                نویسنده پیام :

                                {{this.full_name}}

                            </p>
                        </div>
                        <div class="tab-pane fade" id="message">
                            <p>
                                پیام:
                                <br>
                                {{this.comment}}
                            </p>
                        </div>
                        <div class="tab-pane fade" id="contact4">
                            <p>
                                شماره تماس:
                                (0{{this.phone}})
                            </p>
                        </div>
                        <div class="tab-pane fade" id="email">
                            <p>
                                ایمیل کاربری:
                                {{this.email}}
                            </p>
                        </div>
                    </div>
                </div>

                {{/each}}
            </div>
        </div>
    </div>
</div>