

    <!--start slider -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-6 custom-col-md-6">
                <div id="slider" class="carousel slide h-100" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider" data-slide-to="0" class="active bg-dark"></li>
                        <li data-target="#slider" data-slide-to="1" class="bg-dark"></li>
                        <li data-target="#slider" data-slide-to="2" class="bg-dark"></li>
                    </ol>
                    <div class="carousel-inner h-100">
                        <div class="carousel-item h-100 active">
                            <img class="d-block w-100 h-100" src="/static/assets/images/furniture.jpg" alt="furniture">
                            <div class="carousel-caption d-none d-md-block slider-title">
                                <h6>مدرن ترین مبلمان</h6>
                                <p>مدرن ترین وبروز ترین مبلمان و صندلی را از ما بخرید!</p>
                            </div>
                        </div>
                        <div class="carousel-item h-100">
                            <img class="d-block w-100 h-100" src="/static/assets/images/home-appliances-slider.jpg"
                                alt="home appliances">
                            <div class="carousel-caption d-none d-md-block slider-title">
                                <h6>لوازم خانه و اشپز خانه</h6>
                                <p>لوازم منزلتان را با قسط های سالانه نو کنید!!</p>
                            </div>
                        </div>
                        <div class="carousel-item h-100">
                            <img class="d-block w-100 h-100" src="/static/assets/images/clothes.png" alt="winter clothes">
                            <div class="carousel-caption d-none d-md-block slider-title">
                                <h6>زمستان در راه است</h6>
                                <p>با لباس های زمستانه ما سرما را حس نکنید</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 custom-col-md-3 mt-cmd-5">
                <a href="#">
                    <img src="/static/assets/images/labtop.jpg" class="img-fluid text-over h-100" alt="laptob">
                    <p class="d-none d-md-block"> مرکز فروش لوازم دیجیتال</p>
                </a>

            </div>
            <div class="col-sm-12 col-md-3 custom-col-md-X mt-cmd-5 flexible">
                <a href="#">
                    <img src="/static/assets/images/juice.jpg" class="img-fluid text-over-top height-165" alt="">
                    <p class="d-none d-md-block">مرکز فروش لوازم دیجیتال</p>
                </a>
                <a href="#">
                    <img src="/static/assets/images/controller.jpg" class="img-fluid text-over height-165" alt="">
                    <p class="d-none d-md-block">محصولات گیمینگ</p>
                </a>
            </div>
        </div>
    </div>
    <!--end slider -->

    <!-- start hipping -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-2 custom-offset-lg-1 mb-2">
                <div class="alignment-center shipping-items">
                    <i class="fas fa-shipping-fast"></i>
                    <p>ارسال رایگان
                        به تمامی نقاط کشور
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                <div class="alignment-center shipping-items">
                    <i class="fas fa-tags"></i>
                    <p>تحویل کالا ها درب منزل
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                <div class="alignment-center shipping-items">
                    <i class="far fa-credit-card "></i>
                    <p>پشتیبانی از تمامی بانک ها
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                <div class="alignment-center shipping-items">
                    <i class="fas fa-hand-holding-usd"></i>
                    <p>رضایت شما از سودتان در خریدتان
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                <div class="alignment-center shipping-items">
                    <i class="fas fa-headset"></i>
                    <p> پشتیبانی 24 ساعته و پاسخ به سوالات شما
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end hipping -->

    <!-- start ads section -->
    <div class="container mt-4">
        <div class="row no-gutter">
            <div class="col-sm-6 col-md-3 mb-3">
                <a href="">
                    <img src="/static/assets/images/antivirus.jpg" class="img-fluid h-100 w-100" alt="">
                </a>
            </div>
            <div class="col-sm-12 col-md-6 mb-3">
                <a href="">
                    <img src="/static/assets/images/ads.jpg" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-sm-6 order-sm-first order-md-last mb-3 col-md-3">
                <a href="">
                    <img src="/static/assets/images/Ein.jpg" class="img-fluid h-100 w-100" alt="">
                </a>
            </div>
        </div>
    </div>
    <!-- end ads section -->

    <!-- start cat -->
    <div class="container mt-5 cat">
        <div class="row no-gutters">
            <div class="col-xs-6 col-sm-4 col-md-2 alignment-center category">
                <div class="wrapper-text">
                    <p>موبایل و تبلت</p>
                    <p>1200 محصول</p>
                </div>
                <img src="/static/assets/images/poco-x3.jpg" class="img-fluid" alt="موبایل و تبلت">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 alignment-center category">
                <div class="wrapper-text">
                    <p>کامپیوتر و لب تاب</p>
                    <p>650 محصول</p>
                </div>
                <img src="/static/assets/images/category.jpg" alt="کامپیوتر و لب تاب">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 alignment-center category">
                <div class="wrapper-text">
                    <p>مد و زیبایی</p>
                    <p>725 محصول</p>
                </div>
                <img src="/static/assets/images/category-coat.jpg" alt="مد و زیبایی">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 alignment-center category">
                <div class="wrapper-text">
                    <p>عینک آفتابی</p>
                    <p>200 محصول</p>
                </div>
                <img src="/static/assets/images/category-glasses.jpg" alt="عینک آفتابی">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 alignment-center category">
                <div class="wrapper-text">
                    <p>سیسمونی</p>
                    <p>100 محصول</p>
                </div>
                <img src="/static/assets/images/category-swing.jpg" alt="سیسمونی">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 alignment-center category">
                <div class="wrapper-text">
                    <p>بازی و سرگرمی</p>
                    <p>651 محصول</p>
                </div>
                <img src="/static/assets/images/category-controller.jpg" alt="بازی و سرگرمی">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 alignment-center category">
                <div class="wrapper-text">
                    <p>مبلمان</p>
                    <p>120 محصول</p>
                </div>
                <img src="/static/assets/images/category-sofa.jpg" alt="مبلمان">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 alignment-center category">
                <div class="wrapper-text">
                    <p>صوتی و تصویری</p>
                    <p>750 محصول</p>
                </div>
                <img src="/static/assets/images/category-television.jpg" alt="صوتی و تصویری">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 alignment-center category">
                <div class="wrapper-text">
                    <p>آرایشی و بهداشتی</p>
                    <p>450 محصول</p>
                </div>
                <img src="/static/assets/images/category-Embellishment.png" alt="آرایشی و بهداشتی">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 alignment-center category">
                <div class="wrapper-text">
                    <p>تفریحی و ورزشی</p>
                    <p>430 محصول</p>
                </div>
                <img src="/static/assets/images/category-rope.jpg" alt="تفریحی و ورزشی">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 alignment-center category">
                <div class="wrapper-text">
                    <p>لوازم جانبی موبایل</p>
                    <p>800 محصول</p>
                </div>
                <img src="/static/assets/images/category2.jpg" alt="لوازم جانبی موبایل">
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 alignment-center category">
                <div class="wrapper-text">
                    <p>کلاه مردانه</p>
                    <p>70 محصول</p>
                </div>
                <img src="/static/assets/images/category-hat.jpg" alt="کلاه مردانه">
            </div>
        </div>
    </div>
    <!-- end cat -->

    <!-- start special offer section -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs custom-tabs" dir="ltr" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">لوازم دیجیتال</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">پوشاک</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                            aria-controls="contact" aria-selected="false">محصولات زیبایی</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 mb-5">
                                    <div class="offer-wrapper">
                                        <div class="offer-img">
                                            <img src="/static/assets/images/Televesion-offer-2.jpg" class="img-fluid offer-img"
                                                alt="offer">
                                            <img src="/static/assets/images/Televesion-offer-3.jpg"
                                                class="img-fluid offer-img translate" alt="offer">
                                        </div>
                                        <div class="offer-text">
                                            <a href="">تلوزیون سامسونگ 50 اینچ مدل sm142</a>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="offer-price">
                                                <s>15,000,000 تومان</s><span> 13,500,000 تومان</span>
                                            </div>
                                            <div class="message">
                                                <p class="offer-message">
                                                    زمان باقی مانده تا اتمام زمان تخفیف
                                                </p>
                                            </div>
                                            <div id="countDownTimer">
                                                <div>
                                                    <p class="big-text days">0</p>
                                                    <span>روز</span>
                                                </div>
                                                <div>
                                                    <p class="big-text hours">0</p>
                                                    <span>ساعت</span>
                                                </div>
                                                <div>
                                                    <p class="big-text minutes">0</p>
                                                    <span>دقیقه</span>
                                                </div>
                                                <div>
                                                    <p class="big-text seconds">0</p>
                                                    <span>ثانیه</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 mb-5">
                                    <div class="offer-wrapper">
                                        <div class="offer-img flex-center">
                                            <img src="/static/assets/images/poco-x3.jpg" class="img-fluid offer-img w-125" alt="offer">
                                        </div>
                                        <div class="offer-text">
                                            <a href="">موبایل poco-x3 128GB 5G</a>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="offer-price">
                                                <s>55,000,000 تومان</s><span> 4,500,000 تومان</span>
                                            </div>
                                            <div class="message">
                                                <p class="offer-message">
                                                    زمان باقی مانده تا اتمام زمان تخفیف
                                                </p>
                                            </div>
                                            <div id="countDownTimer">
                                                <div>
                                                    <p class="big-text days">0</p>
                                                    <span>روز</span>
                                                </div>
                                                <div>
                                                    <p class="big-text hours">0</p>
                                                    <span>ساعت</span>
                                                </div>
                                                <div>
                                                    <p class="big-text minutes">0</p>
                                                    <span>دقیقه</span>
                                                </div>
                                                <div>
                                                    <p class="big-text seconds">0</p>
                                                    <span>ثانیه</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="offer-wrapper">
                                        <div class="offer-img">
                                            <img src="/static/assets/images/headphone-1.jpg" class="img-fluid offer-img" alt="offer">
                                            <img src="/static/assets/images/headphone-2.jpg" class="img-fluid offer-img translate"
                                                alt="offer">
                                        </div>
                                        <div class="offer-text">
                                            <a href="">هدفون NIA مدل D127</a>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="offer-price">
                                                <s>400,000 تومان</s><span> 345,000 تومان</span>
                                            </div>
                                            <div class="message">
                                                <p class="offer-message">
                                                    زمان باقی مانده تا اتمام زمان تخفیف
                                                </p>
                                            </div>
                                            <div id="countDownTimer">
                                                <div>
                                                    <p class="big-text days">0</p>
                                                    <span>روز</span>
                                                </div>
                                                <div>
                                                    <p class="big-text hours">0</p>
                                                    <span>ساعت</span>
                                                </div>
                                                <div>
                                                    <p class="big-text minutes">0</p>
                                                    <span>دقیقه</span>
                                                </div>
                                                <div>
                                                    <p class="big-text seconds">0</p>
                                                    <span>ثانیه</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="offer-wrapper">
                                        <div class="offer-img">
                                            <img src="/static/assets/images/category.jpg" class="img-fluid offer-img" alt="offer">
                                        </div>
                                        <div class="offer-text">
                                            <a href="">لب تاب ایسر سی پی یو 8هسته ای</a>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="offer-price">
                                                <s>20,000,000 تومان</s><span> 19,800,000 تومان</span>
                                            </div>
                                            <div class="message">
                                                <p class="offer-message">
                                                    زمان باقی مانده تا اتمام زمان تخفیف
                                                </p>
                                            </div>
                                            <div id="countDownTimer">
                                                <div class="days-wrapper">
                                                    <p class="days">0</p>
                                                    <span>روز</span>
                                                </div>
                                                <div class="hours-wrapper">
                                                    <p class="hours">0</p>
                                                    <span>ساعت</span>
                                                </div>
                                                <div class="minutes-wrapper">
                                                    <p class="minutes">0</p>
                                                    <span>دقیقه</span>
                                                </div>
                                                <div class="seconds-wrapper">
                                                    <p class="seconds">0</p>
                                                    <span>ثانیه</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 mb-5">
                                    <div class="offer-wrapper">
                                        <div class="offer-img">
                                            <img src="/static/assets/images/Televesion-offer-2.jpg" class="img-fluid offer-img"
                                                alt="offer">
                                            <img src="/static/assets/images/Televesion-offer-3.jpg"
                                                class="img-fluid offer-img translate" alt="offer">
                                        </div>
                                        <div class="offer-text">
                                            <a href="">تلوزیون سامسونگ 50 اینچ مدل sm142</a>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="offer-price">
                                                <s>15,000,000 تومان</s><span> 13,500,000 تومان</span>
                                            </div>
                                            <div class="message">
                                                <p class="offer-message">
                                                    زمان باقی مانده تا اتمام زمان تخفیف
                                                </p>
                                            </div>
                                            <div id="countDownTimer">
                                                <div>
                                                    <p class="big-text days">0</p>
                                                    <span>روز</span>
                                                </div>
                                                <div>
                                                    <p class="big-text hours">0</p>
                                                    <span>ساعت</span>
                                                </div>
                                                <div>
                                                    <p class="big-text minutes">0</p>
                                                    <span>دقیقه</span>
                                                </div>
                                                <div>
                                                    <p class="big-text seconds">0</p>
                                                    <span>ثانیه</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 mb-5">
                                    <div class="offer-wrapper">
                                        <div class="offer-img flex-center">
                                            <img src="/static/assets/images/poco-x3.jpg" class="img-fluid offer-img w-125" alt="offer">
                                        </div>
                                        <div class="offer-text">
                                            <a href="">موبایل poco-x3 128GB 5G</a>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="offer-price">
                                                <s>55,000,000 تومان</s><span> 4,500,000 تومان</span>
                                            </div>
                                            <div class="message">
                                                <p class="offer-message">
                                                    زمان باقی مانده تا اتمام زمان تخفیف
                                                </p>
                                            </div>
                                            <div id="countDownTimer">
                                                <div>
                                                    <p class="big-text days">0</p>
                                                    <span>روز</span>
                                                </div>
                                                <div>
                                                    <p class="big-text hours">0</p>
                                                    <span>ساعت</span>
                                                </div>
                                                <div>
                                                    <p class="big-text minutes">0</p>
                                                    <span>دقیقه</span>
                                                </div>
                                                <div>
                                                    <p class="big-text seconds">0</p>
                                                    <span>ثانیه</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="offer-wrapper">
                                        <div class="offer-img">
                                            <img src="/static/assets/images/headphone-1.jpg" class="img-fluid offer-img" alt="offer">
                                            <img src="/static/assets/images/headphone-2.jpg" class="img-fluid offer-img translate"
                                                alt="offer">
                                        </div>
                                        <div class="offer-text">
                                            <a href="">هدفون NIA مدل D127</a>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="offer-price">
                                                <s>400,000 تومان</s><span> 345,000 تومان</span>
                                            </div>
                                            <div class="message">
                                                <p class="offer-message">
                                                    زمان باقی مانده تا اتمام زمان تخفیف
                                                </p>
                                            </div>
                                            <div id="countDownTimer">
                                                <div>
                                                    <p class="big-text days">0</p>
                                                    <span>روز</span>
                                                </div>
                                                <div>
                                                    <p class="big-text hours">0</p>
                                                    <span>ساعت</span>
                                                </div>
                                                <div>
                                                    <p class="big-text minutes">0</p>
                                                    <span>دقیقه</span>
                                                </div>
                                                <div>
                                                    <p class="big-text seconds">0</p>
                                                    <span>ثانیه</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="offer-wrapper">
                                        <div class="offer-img">
                                            <img src="/static/assets/images/category.jpg" class="img-fluid offer-img" alt="offer">
                                        </div>
                                        <div class="offer-text">
                                            <a href="">لب تاب ایسر سی پی یو 8هسته ای</a>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="offer-price">
                                                <s>20,000,000 تومان</s><span> 19,800,000 تومان</span>
                                            </div>
                                            <div class="message">
                                                <p class="offer-message">
                                                    زمان باقی مانده تا اتمام زمان تخفیف
                                                </p>
                                            </div>
                                            <div id="countDownTimer">
                                                <div class="days-wrapper">
                                                    <p class="days">0</p>
                                                    <span>روز</span>
                                                </div>
                                                <div class="hours-wrapper">
                                                    <p class="hours">0</p>
                                                    <span>ساعت</span>
                                                </div>
                                                <div class="minutes-wrapper">
                                                    <p class="minutes">0</p>
                                                    <span>دقیقه</span>
                                                </div>
                                                <div class="seconds-wrapper">
                                                    <p class="seconds">0</p>
                                                    <span>ثانیه</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 mb-5">
                                    <div class="offer-wrapper">
                                        <div class="offer-img">
                                            <img src="/static/assets/images/Televesion-offer-2.jpg" class="img-fluid offer-img"
                                                alt="offer">
                                            <img src="/static/assets/images/Televesion-offer-3.jpg"
                                                class="img-fluid offer-img translate" alt="offer">
                                        </div>
                                        <div class="offer-text">
                                            <a href="">تلوزیون سامسونگ 50 اینچ مدل sm142</a>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="offer-price">
                                                <s>15,000,000 تومان</s><span> 13,500,000 تومان</span>
                                            </div>
                                            <div class="message">
                                                <p class="offer-message">
                                                    زمان باقی مانده تا اتمام زمان تخفیف
                                                </p>
                                            </div>
                                            <div id="countDownTimer">
                                                <div>
                                                    <p class="big-text days">0</p>
                                                    <span>روز</span>
                                                </div>
                                                <div>
                                                    <p class="big-text hours">0</p>
                                                    <span>ساعت</span>
                                                </div>
                                                <div>
                                                    <p class="big-text minutes">0</p>
                                                    <span>دقیقه</span>
                                                </div>
                                                <div>
                                                    <p class="big-text seconds">0</p>
                                                    <span>ثانیه</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 mb-5">
                                    <div class="offer-wrapper">
                                        <div class="offer-img flex-center">
                                            <img src="/static/assets/images/poco-x3.jpg" class="img-fluid offer-img w-125" alt="offer">
                                        </div>
                                        <div class="offer-text">
                                            <a href="">موبایل poco-x3 128GB 5G</a>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="offer-price">
                                                <s>55,000,000 تومان</s><span> 4,500,000 تومان</span>
                                            </div>
                                            <div class="message">
                                                <p class="offer-message">
                                                    زمان باقی مانده تا اتمام زمان تخفیف
                                                </p>
                                            </div>
                                            <div id="countDownTimer">
                                                <div>
                                                    <p class="big-text days">0</p>
                                                    <span>روز</span>
                                                </div>
                                                <div>
                                                    <p class="big-text hours">0</p>
                                                    <span>ساعت</span>
                                                </div>
                                                <div>
                                                    <p class="big-text minutes">0</p>
                                                    <span>دقیقه</span>
                                                </div>
                                                <div>
                                                    <p class="big-text seconds">0</p>
                                                    <span>ثانیه</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="offer-wrapper">
                                        <div class="offer-img">
                                            <img src="/static/assets/images/headphone-1.jpg" class="img-fluid offer-img" alt="offer">
                                            <img src="/static/assets/images/headphone-2.jpg" class="img-fluid offer-img translate"
                                                alt="offer">
                                        </div>
                                        <div class="offer-text">
                                            <a href="">هدفون NIA مدل D127</a>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="offer-price">
                                                <s>400,000 تومان</s><span> 345,000 تومان</span>
                                            </div>
                                            <div class="message">
                                                <p class="offer-message">
                                                    زمان باقی مانده تا اتمام زمان تخفیف
                                                </p>
                                            </div>
                                            <div id="countDownTimer">
                                                <div>
                                                    <p class="big-text days">0</p>
                                                    <span>روز</span>
                                                </div>
                                                <div>
                                                    <p class="big-text hours">0</p>
                                                    <span>ساعت</span>
                                                </div>
                                                <div>
                                                    <p class="big-text minutes">0</p>
                                                    <span>دقیقه</span>
                                                </div>
                                                <div>
                                                    <p class="big-text seconds">0</p>
                                                    <span>ثانیه</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="offer-wrapper">
                                        <div class="offer-img">
                                            <img src="/static/assets/images/category.jpg" class="img-fluid offer-img" alt="offer">
                                        </div>
                                        <div class="offer-text">
                                            <a href="">لب تاب ایسر سی پی یو 8هسته ای</a>
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="offer-price">
                                                <s>20,000,000 تومان</s><span> 19,800,000 تومان</span>
                                            </div>
                                            <div class="message">
                                                <p class="offer-message">
                                                    زمان باقی مانده تا اتمام زمان تخفیف
                                                </p>
                                            </div>
                                            <div id="countDownTimer">
                                                <div class="days-wrapper">
                                                    <p class="days">0</p>
                                                    <span>روز</span>
                                                </div>
                                                <div class="hours-wrapper">
                                                    <p class="hours">0</p>
                                                    <span>ساعت</span>
                                                </div>
                                                <div class="minutes-wrapper">
                                                    <p class="minutes">0</p>
                                                    <span>دقیقه</span>
                                                </div>
                                                <div class="seconds-wrapper">
                                                    <p class="seconds">0</p>
                                                    <span>ثانیه</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end special offer section -->

    <!-- start slider products -->
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12 position-relative">
                <p class="slider-offer-title">پر بازدید ترین <span>موبایل ها</span></p>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="product-card">
                                <div class="product-header">
                                    <img src="/static/assets/images/p-mobile-2.jpg" alt="" class="img-fluid img-carousel">
                                </div>
                                <div class="product-body">
                                    <p class="product-carousel-title">گوشی موبایل اپل مدل iphone A2643 تک سیم کارت 128
                                        GB</p>
                                    <div class="product-price-wrapper">
                                        <p class="product-carousel-price-offer"><s>32,000,000 تومان</s><span
                                                class="badge badge-danger mr-2">20%</span></p>
                                        <p class="product-carousel-price">31,200,000 تومان</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="product-card">
                                <div class="product-header">
                                    <img src="/static/assets/images/p-mobile-1.jpg" alt="" class="img-fluid img-carousel">
                                </div>
                                <div class="product-body">
                                    <p class="product-carousel-title">گوشی موبایل اپل مدل SE 2020 دو سیم کارت</p>
                                    <p class="product-carousel-price">11,000,000 تومان</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="product-card">
                                <div class="product-header">
                                    <img src="/static/assets/images/p-mobile-2.jpg" alt="" class="img-fluid img-carousel">
                                </div>
                                <div class="product-body">
                                    <p class="product-carousel-title">گوشی موبایل اپل مدل iphone 13 دو سیم کارت 128 GB
                                    </p>
                                    <p class="product-carousel-price">28,500,000 تومان</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="product-card">
                                <div class="product-header">
                                    <img src="/static/assets/images/p-mobile-4.jpg" alt="" class="img-fluid img-carousel">
                                </div>
                                <div class="product-body">
                                    <p class="product-carousel-title">گوشی موبایل سامسونگ مدل s20 یک سیم کارت</p>
                                    <p class="product-carousel-price">11,700,000 تومان</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="product-card">
                                <div class="product-header">
                                    <img src="/static/assets/images/p-mobile-5.jpg" alt="" class="img-fluid img-carousel">
                                </div>
                                <div class="product-body">
                                    <p class="product-carousel-title">گوشی موبایل مدل اپل iphone 11 A223 دو سیم کارت 4G
                                    </p>
                                    <div class="product-price-wrapper">
                                        <p class="product-carousel-price-offer"><s>24,000,000 تومان</s><span
                                                class="badge badge-danger mr-2">10%</span></p>
                                        <p class="product-carousel-price">21,600,000 تومان</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="product-card">
                                <div class="product-header">
                                    <img src="/static/assets/images/p-mobile-6.jpg" alt="" class="img-fluid img-carousel">
                                </div>
                                <div class="product-body">
                                    <p class="product-carousel-title">گوشی موبایل سامسونگ مدل A21s دو سیم کارت 4G</p>
                                    <p class="product-carousel-price">10,600,000 تومان</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end slider products -->

    <!-- start banner offer section -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid w-100" src="/static/assets/images/ads.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- end banner offer section -->

    <!-- start slider products -->
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12 position-relative">
                <p class="slider-offer-title">پر فروش ترین <span>موبایل ها</span></p>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="product-card">
                                <div class="product-header">
                                    <img src="/static/assets/images/p-mobile-2.jpg" alt="" class="img-fluid img-carousel">
                                </div>
                                <div class="product-body">
                                    <p class="product-carousel-title">گوشی موبایل اپل مدل iphone A2643 تک سیم کارت 128
                                        GB</p>
                                    <div class="product-price-wrapper">
                                        <p class="product-carousel-price-offer"><s>32,000,000 تومان</s><span
                                                class="badge badge-danger mr-2">20%</span></p>
                                        <p class="product-carousel-price">31,200,000 تومان</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="product-card">
                                <div class="product-header">
                                    <img src="/static/assets/images/p-mobile-1.jpg" alt="" class="img-fluid img-carousel">
                                </div>
                                <div class="product-body">
                                    <p class="product-carousel-title">گوشی موبایل اپل مدل SE 2020 دو سیم کارت</p>
                                    <p class="product-carousel-price">11,000,000 تومان</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="product-card">
                                <div class="product-header">
                                    <img src="/static/assets/images/p-mobile-2.jpg" alt="" class="img-fluid img-carousel">
                                </div>
                                <div class="product-body">
                                    <p class="product-carousel-title">گوشی موبایل اپل مدل iphone 13 دو سیم کارت 128 GB
                                    </p>
                                    <p class="product-carousel-price">28,500,000 تومان</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="product-card">
                                <div class="product-header">
                                    <img src="/static/assets/images/p-mobile-4.jpg" alt="" class="img-fluid img-carousel">
                                </div>
                                <div class="product-body">
                                    <p class="product-carousel-title">گوشی موبایل سامسونگ مدل s20 یک سیم کارت</p>
                                    <p class="product-carousel-price">11,700,000 تومان</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="product-card">
                                <div class="product-header">
                                    <img src="/static/assets/images/p-mobile-5.jpg" alt="" class="img-fluid img-carousel">
                                </div>
                                <div class="product-body">
                                    <p class="product-carousel-title">گوشی موبایل مدل اپل iphone 11 A223 دو سیم کارت 4G
                                    </p>
                                    <div class="product-price-wrapper">
                                        <p class="product-carousel-price-offer"><s>24,000,000 تومان</s><span
                                                class="badge badge-danger mr-2">10%</span></p>
                                        <p class="product-carousel-price">21,600,000 تومان</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="product-card">
                                <div class="product-header">
                                    <img src="/static/assets/images/p-mobile-6.jpg" alt="" class="img-fluid img-carousel">
                                </div>
                                <div class="product-body">
                                    <p class="product-carousel-title">گوشی موبایل سامسونگ مدل A21s دو سیم کارت 4G</p>
                                    <p class="product-carousel-price">10,600,000 تومان</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end slider products -->

    <!-- start banner offer section -->
    <div class="container mt-5">
        <div class="row no-gutters">
            <div class="col-sm-12 col-md-4">
                <a href="">
                    <img class="img-fluid w-100" src="/static/assets/images/Ein.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="">
                    <img class="img-fluid w-100" src="/static/assets/images/roxona.jpg" alt="">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="">
                    <img class="img-fluid w-100" src="/static/assets/images/antivirus.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <!-- end banner offer section -->

    <!-- start slider Brands -->
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12 position-relative">
                <p class="slider-offer-title"> <span>برند های برتر</span></p>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="brands-header">
                                <img src="/static/assets/images/brand.jpg" alt="" class="img-fluid img-carousel">
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="brands-header">
                                <img src="/static/assets/images/brand-1.png" alt="" class="img-fluid img-carousel">
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="brands-header">
                                <img src="/static/assets/images/brand-2.png" alt="" class="img-fluid img-carousel">
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="brands-header">
                                <img src="/static/assets/images/brand-3.png" alt="" class="img-fluid img-carousel">
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="brands-header">
                                <img src="/static/assets/images/brand-4.png" alt="" class="img-fluid img-carousel">
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="brands-header">
                                <img src="/static/assets/images/brand-5.jpg" alt="" class="img-fluid img-carousel">
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="brands-header">
                                <img src="/static/assets/images/brand-6.png" alt="" class="img-fluid img-carousel">
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="brands-header">
                                <img src="/static/assets/images/brand-7.png" alt="" class="img-fluid img-carousel">
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="brands-header">
                                <img src="/static/assets/images/brand-8.jpg" alt="" class="img-fluid img-carousel">
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="brands-header">
                                <img src="/static/assets/images/brand-9.jpg" alt="" class="img-fluid img-carousel">
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="brands-header">
                                <img src="/static/assets/images/brand-10.png" alt="" class="img-fluid img-carousel">
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="brands-header">
                                <img src="/static/assets/images/brand-11.png" alt="" class="img-fluid img-carousel">
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" class="product-link">
                            <div class="brands-header">
                                <img src="/static/assets/images/brand-12.jpg" alt="" class="img-fluid img-carousel">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end slider Brands -->
