<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/assets/plugins/OwlCarousel/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/assets/plugins/OwlCarousel/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/assets/css/ecommerce/ecommerce-style.css">
    <title>فروشگاه اینترنتی عطا</title>
</head>

<body dir="rtl">
    <!--start header -->
    <div class="container-fluid custom-nav-top">
        <div class="row">
            <!--start top header info -->
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-sm-12 col-md-5 text-center my-3">
                        <h4>ارسال رایگان - ضمانت بازگشت وجه 30 روزه</h4>
                    </div>
                    <div class="col-sm-12 col-md-7 links-nav">
                        <nav>
                            <ul>
                                <li><a href="">آدرس فروشگاه</a></li>
                                <li><a href="">پیگیری سفارش</a></li>
                                <li><a href="">تلفن : 0211234567</a></li>
                                <li><a href="">ضمانت کیفیت محصولات</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--end top header info -->

            <!-- start search box -->
            <div class="container my-5">
                <div class="row custom-dis">
                    <div class="col-sm-12 col-md-10">
                        <div class="input-group mb-2">
                            <div class="input-group-append  d-none d-md-block">
                                <button class="btn bg-gray text-14 dropdown-toggle" type="button"
                                    data-toggle="dropdown"> همه دسته بندی ها</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-14" href="#">لوازم خانه</a>
                                    <a class="dropdown-item text-14" href="#">قطعات کامپیوتر</a>
                                    <a class="dropdown-item text-14" href="#">موبایل</a>
                                    <a class="dropdown-item text-14" href="#">پوشاک</a>
                                </div>
                            </div>

                            <input type="text" class="form-control  text-right"
                                placeholder="جستجو در بین بیش از 25000 هزار کالا">
                            <div class="input-group-prepend">
                                <button class="btn custom-btn" type="button">جستجو</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <div class="dropdown custom-cart show">
                            <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown">
                                سبد خرید <span><i class="fas fa-cart-plus"></i></span>
                            </a>

                            <div class="dropdown-menu dropdown-items" aria-labelledby="dropdownMenuLink">

                                <ul class="cart-item">
                                    <li>
                                        <img class="img-thumbnail" src="images/1.jpg" alt="iphone">
                                        <a href="" class="mx-2">موبایل iphone</a>
                                        <small>50000000T</small>
                                    </li>
                                    <li>
                                        <img class="img-thumbnail img-fluid"
                                            src="images/furniture-modern-studio-lifestyle-green_1122-1837.jpg"
                                            alt="iphone">
                                        <a href="" class="mx-2">صندلی</a>
                                        <small>150000T</small>
                                    </li>
                                </ul>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end search box -->

            <!-- start menu section -->
            <div class="container">
                <div class="row">
                    <div class="col custom-navBar">
                        <nav class="navbar navbar-expand-lg navbar-dark">
                            <a class="navbar-brand mx-3" href="#">لوگو</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">خانه</a>
                                    </li>
                                    <div class=" nav-item dropdown show">
                                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown">
                                            لوازم خانگی
                                        </a>

                                        <div class="dropdown-menu furniture-box">
                                            <img src="images/home appliances.jpg" class="furniture d-none d-lg-block"
                                                alt="">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-5">
                                                        <ul>
                                                            <li><a href="">جارو برقی</a></li>
                                                            <li><a href="">لباس شویی</a></li>
                                                            <li><a href="">یخچال</a></li>
                                                            <li><a href="">ماشین ظرفشویی</a></li>
                                                            <li><a href="">فرش و قالیچه</a></li>
                                                            <li><a href="">مبلمان</a></li>
                                                            <li><a href="">کمد</a></li>
                                                            <li><a href="">هود</a></li>
                                                            <li><a href="">کولر</a></li>
                                                            <li><a href="">فر</a></li>
                                                            <li><a href="">تلوزیون</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-12 col-md-5">
                                                        <ul>
                                                            <li><a href="">فرش و قالیچه</a></li>
                                                            <li><a href="">مبلمان</a></li>
                                                            <li><a href="">کمد</a></li>
                                                            <li><a href="">هود</a></li>
                                                            <li><a href="">کولر</a></li>
                                                            <li><a href="">فر</a></li>
                                                            <li><a href="">تلوزیون</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" nav-item dropdown show">
                                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown">
                                            پوشاک
                                        </a>

                                        <div class="dropdown-menu furniture-box" aria-labelledby="dropdownMenuLink">
                                            <img src="images/category-coat.jpg" style="width: 300px;"
                                                class="furniture d-none d-lg-block" alt="">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-8">
                                                        <ul>
                                                            <li><a href="">لباس مردانع</a></li>
                                                            <li><a href="">لباس زنانه</a></li>
                                                            <li><a href="">پوشاک بچگانه</a></li>
                                                            <li><a href="">کاپشن زمستانه</a></li>
                                                            <li><a href="">کلاه زمستانه</a></li>
                                                            <li><a href="">لباس ست</a></li>
                                                            <li><a href="">لباس نوزاد</a></li>
                                                            <li><a href="">دستکش</a></li>
                                                            <li><a href="">لباس زیر مردانه</a></li>
                                                            <li><a href="">لباس مجلسی</a></li>
                                                            <li><a href="">پوشاک شیک پوش</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-item dropdown show">
                                        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown">
                                            لوازم دیجیتال
                                        </a>

                                        <div class="dropdown-menu furniture-box" aria-labelledby="dropdownMenuLink">
                                            <img src="images/home appliances.jpg" class="furniture d-none d-lg-block"
                                                alt="">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-5">
                                                        <ul>
                                                            <li><a href="">جارو برقی</a></li>
                                                            <li><a href="">لباس شویی</a></li>
                                                            <li><a href="">یخچال</a></li>
                                                            <li><a href="">ماشین ظرفشویی</a></li>
                                                            <li><a href="">فرش و قالیچه</a></li>
                                                            <li><a href="">مبلمان</a></li>
                                                            <li><a href="">کمد</a></li>
                                                            <li><a href="">هود</a></li>
                                                            <li><a href="">کولر</a></li>
                                                            <li><a href="">فر</a></li>
                                                            <li><a href="">تلوزیون</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-12 col-md-5">
                                                        <ul>
                                                            <li><a href="">فرش و قالیچه</a></li>
                                                            <li><a href="">مبلمان</a></li>
                                                            <li><a href="">کمد</a></li>
                                                            <li><a href="">هود</a></li>
                                                            <li><a href="">کولر</a></li>
                                                            <li><a href="">فر</a></li>
                                                            <li><a href="">تلوزیون</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">تماس با ما</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">درباره ما</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link off-btn" href="#">تخفیفات ویژه</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="" class="btn-login" data-modal='login'>
                                <span>ورود</span>
                                <i class="fas fa-user"></i>
                            </a>
                            <div id="login" class="custom-modal" data-entrance="fade">
                                <form action="">
                                    <div class="form-header">
                                        <h6>ورود به سایت</h6>
                                        <a href="" class="close" id="close-modal">&times;</a>
                                    </div>
                                    <div class="form-body">
                                        <div class="input-wrapper">
                                            <label for="email">ایمیل</label>
                                            <input type="email" id="email" placeholder="ایمیل خود را وارد کنید ...">
                                        </div>
                                        <div class="input-wrapper">
                                            <label for="password">رمز عبور</label>
                                            <input type="password" id="password"
                                                placeholder="رمز عبور خود را وارد کنید ...">
                                        </div>
                                    </div>
                                    <button type="submit" class="modal-form-btn">ورود</button>
                                    <div class="form-footer">
                                        <a href="">رمز عبور خود را فراموش کرده اید؟</a>
                                        <a href="">ثبت نام/عضویت</a>
                                    </div>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- start menu section -->

        </div>
    </div>
    <!--end header -->


    {{{body}}}


    <!-- start footer section -->
    <div class="container-fluid mt-5 bg-dark text-white">
        <div class="row">
            <div class="container my-4">
                <div class="row">
                    <div class="col-sm-12 col-md-4 head-footer-s1 mb-3">
                        <h5>عضویت در خبرنامه</h5>
                        <p>با عضویت از <span>20% تخفیف </span>بهره مند شوید.</p>
                    </div>
                    <div class="col-sm-12 col-md-4 head-footer-s2 mb-3">
                        <p><span>به 226,000+ مشترک ما</span> بپیوندید و از تخفیف های ویژه هفتگی مخصوص مشترکین خبرنامه
                            بهره مند شوید</p>
                    </div>
                    <div class="col-sm-12 col-md-4 head-footer-s3 mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="آدرس ایمیل ...">
                            <div class="input-group-append">
                                <button class="btn btn-danger">عضویت</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3 main-footer-s1 my-4">
                        <h5>اطلاعات</h5>
                        <ul>
                            <li><a href="">درباره ما</a></li>
                            <li><a href="">تماس با ما</a></li>
                            <li><a href="">نحوه ارسال</a></li>
                            <li><a href="">محصولات جدید</a></li>
                            <li><a href="">محصولات منتخب</a></li>
                            <li><a href="">سابقه خرید</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-3 main-footer-s2 my-4">
                        <h5>خدمات مشتریان</h5>
                        <ul>
                            <li><a href="">حساب کاربری</a></li>
                            <li><a href="">سبد خرید</a></li>
                            <li><a href="">علاقه مندی ها</a></li>
                            <li><a href="">کاهش قیمت ها</a></li>
                            <li><a href="">سابقه خرید</a></li>
                            <li><a href="">سفارشات منتخب</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-3 main-footer-s3 my-4">
                        <h5>حساب کاربری</h5>
                        <ul>
                            <li><a href="">نقشه سایت</a></li>
                            <li><a href="">نقد و بررسی</a></li>
                            <li><a href="">نحوه ارسال</a></li>
                            <li><a href="">محصولات ویژه</a></li>
                            <li><a href="">خرید اقساطی</a></li>
                            <li><a href="">ویژه کارمندان </a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-3 main-footer-s4 my-4">
                        <h5>اطلاعات تماس</h5>
                        <div class="contact-footer">
                            <i class="fas fa-headset"></i>
                            <div class="text">
                                <p>پشتیبانی 24 ساعته</p>
                                <p>02176221234</p>
                            </div>
                        </div>
                        <div class="social-media">
                            <a href=""> <i class="fab fa-telegram"></i></a>
                            <a href=""> <i class="fab fa-instagram"></i></a>
                            <a href=""> <i class="fab fa-twitter"></i></a>
                            <a href=""> <i class="fab fa-facebook"></i></a>
                            <a href=""> <i class="fas fa-rss-square xs-hidden"></i></a>
                        </div>
                        <div class="address">
                            <p>تهران خیابان ولیعصر پاساژ امین طبقه 7 واحد 22 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer section -->




    <script src="/static/assets/plugins/jquery.min.js"></script>
    <script src="/static/assets/plugins/fontawesome/js/all.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/assets/plugins/OwlCarousel/js/owl.carousel.min.js"></script>
    <script src="/static/assets/js/ecommerce-main.js"></script>
    <script src="/static/assets/js/ecommerce-app.js"></script>
</body>

</html>