<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/images/english/graduate.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/aos/css/aos.css">
    <link rel="stylesheet" href="/static/assets/plugins/fontAwesome/css/all.min.css">
    <link rel="stylesheet" href="/static/assets/css/english/english-style.css">
    <title>Learn English</title>
</head>

<body>
    <!-- start header section -->
    <div class="container main-header-section">
        <div class="row">
            <div class="col-12">
                <!-- start top nav -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 top-nav" dir="rtl">
                            <div class="navs hide">
                                <ul>
                                    <li class="show_link close"><a href="">Home</a></li>
                                    <li><a href="">about</a></li>
                                    <li><a href="">product</a></li>
                                    <li><a href="">content</a></li>
                                </ul>
                            </div>
                            <div class="logo">
                                <img src="/static/assets/images/english/logo.svg" alt="logo" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end top nav -->
                <!-- start background header -->
                <div class="container-fluid background-header"></div>
                <!-- end background header -->
                <!-- start hero header -->
                <div class="container position-relative">
                    <div class="persons">
                        <img src="/static/assets/images/english/happy-person-2.png" class="img-fluid person personElem"
                            alt="" data-speed="4">
                        <img src="/static/assets/images/english/happy-person-1.png" class="img-fluid person2 personElem"
                            alt="" data-speed="5">
                        <img src="/static/assets/images/english/happy-person-3.png" class="img-fluid person3 personElem"
                            alt="" data-speed="-7">
                    </div>
                    <div class="row">
                        <div class="col-sm-12 hero-header">
                            <div class="header-title">
                                <h1>One Of The Most<br> effective ways <span>to improve your English</span></h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus illo
                                    praesentium
                                    tenetur temporibus explicabo laboriosam pariatur sint</p>
                                <div class="header-buttons">
                                    <button class="btn btn-black">get started</button>
                                    <button class="btn btn-transparent">subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end hero header -->
            </div>
        </div>
    </div>
    <!-- start header section -->


    {{{body}}}





    <!-- start footer section  -->
    <div class="container-fluid  position-relative">
        <div class="yellow-background">
            <img src="/static/assets/images/english/footer-back-2.png" class="img-fluid" alt="">
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="footer-head">
                        <h4>There are everything <br> you need to become <br> a <span>confident</span>.</h4>
                    </div>
                    <div class="footer-body">
                        <p class="describe">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid tenetur
                            sapiente eaque obcaecati modi odio, libero consequatur cumque illo optio necessitatibus,
                            asperiores, voluptatem autem maxime. Est atque maxime dolore pariatur?
                        </p>
                    </div>
                </div>
            </div>
            <div class="row overflow-hidden">
                <div class="col-md-12 vertical-centralized index-2 mt-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 d-flex align-items-end justify-content-between">
                                <div class="news-letter position-relative">
                                    <input type="email" class="email" placeholder="Email">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="btn btn-transparent">subscribe</div>
                            </div>
                            <div class="col-sm-12 col-md-6 mt-4">
                                <div class="download-application vertical-centralized">
                                    <div class="qrCode">
                                        <img src="/static/assets/images/english/qrcode-solid.svg" alt=""
                                            class="barcode">
                                    </div>
                                    <div class="download-text">
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, ut!</p>
                                        <img src="/static/assets/images/english/android-brands.svg"
                                            class="img-fluid android" alt="android">
                                        <img src="/static/assets/images/english/app-store-ios-brands.svg"
                                            class="img-fluid ios" alt="ios">
                                        <a href="" class="download">download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-6 col-md-4  col-lg-2 footer-section-links">
                    <div class="section_one">
                        <div class="footer-title">
                            Home
                        </div>
                        <div class="footer-link">
                            <a href="">our leadership</a>
                            <a href="">our values</a>
                            <a href="">Career</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4  col-lg-2 footer-section-links">
                    <div class="section_two">
                        <div class="footer-title">
                            about
                        </div>
                        <div class="footer-link">
                            <a href="">our mission</a>
                            <a href="">our vision</a>
                            <a href="">Disclimer</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4  col-lg-2 footer-section-links">
                    <div class="section_three">
                        <div class="footer-title">
                            product
                        </div>
                        <div class="footer-link">
                            <a href="">Travel loans</a>
                            <a href="">Licenses</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4  col-lg-2 footer-section-links">
                    <div class="section_four">
                        <div class="footer-title">
                            Contact
                        </div>
                        <div class="footer-link">
                            <a href="">FAQs</a>
                            <a href="">Subscribe</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 centralized">
                    <div class="section_four centralized my-3">
                        <div class="soical-media">
                            <img src="/static/assets/images/english/instagram (1).svg" class="img-fluid" alt="">
                            <img src="/static/assets/images/english/facebook (1).svg" class="img-fluid" alt="">
                            <img src="/static/assets/images/english/youtube.svg" class="img-fluid" alt="">
                            <img src="/static/assets/images/english/twitter.svg" class="img-fluid" alt="">
                            <img src="/static/assets/images/english/rss-square-solid.svg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-background">
            <img src="/static/assets/images/english/footer-back.png" alt="footer"
                class="img-fluid">
        </div>
    </div>
    <!-- end footer section  -->


    <script src="/static/assets/plugins/jquery.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/plugins/fontAwesome/js/all.min.js"></script>
    <script src="/static/assets/js/english-carousel.js"></script>
    <script src="/static/assets/plugins/moveElements/moveElements.js"></script>
    <script src="/static/assets/plugins/aos/js/aos.js"></script>
    <script src="/static/assets/js/english-main.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>