<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه لندینگ</title>
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/fontAwesome/css/all.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/OwlCarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/OwlCarousel/css/owl.theme.default.css">
    <link rel="stylesheet" href="/static/assets/css/landing-style.min.css">
</head>

<body dir="rtl">


    <!-- ######### start menu ########## -->
    <div class="container" id="menu">
        <div class="row">
            <div class="col-12 nav_bar">
                <div class="hambergur-menu">
                    <div class="hambergur"></div>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">خانه</a></li>
                        <li><a href="#">درباره ما</a></li>
                        <li><a href="#">سرویس ها</a></li>
                        <li><a href="#">بلاگ</a></li>
                        <li><a href="#">نمونه کار</a></li>
                        <a href="#" class="btn btn-ghost">ارتباط با ما</a>
                    </ul>
                </nav>
                <li class="logo"><a href="#">G</a></li>
            </div>
        </div>
    </div>
    <!-- ######### end menu ########## -->
    
    {{{body}}}

    <!-- ############### start footer ################ -->
    <div class="container-fluid" id="footer">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12 feed-wrapper">
                        <div class="icon">
                            <img src="/static/assets/images/envelope.png" class="img-fluid" alt="envelope">
                        </div>
                        <h3>خدمات ما را دوست دارید؟ مشترک ما شوید</h3>
                        <p>من به عنوان یک متخصص خزنده وب برنامه، به سازمان‌ها کمک می‌کنم<br> تا با اهمیت رو به گسترش
                            تبلیغات اینترنتی سازگار شوند.
                        </p>
                        <div class="email-wrapper">
                            <input type="email" placeholder="ایمیل خود را وارد کنید...">
                            <input type="button" value="مشترک شدن" class="btn btn-white">
                        </div>
                    </div>
                </div>
                <div class="row mt-5 footer">
                    <div class="col-sm-12 col-lg-4 contact">
                        <h4 class="title">ارتباط با ما</h4>
                        <div class="links">
                            <ul>
                                <li><a href="#">تلفن:09301234567</a></li>
                                <li><a href="#">آدرس:تهران ولیعصر</a></li>
                                <li><a href="#">ایمیل:example@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <h4 class="title">شرکت</h4>
                        <div class="links">
                            <ul>
                                <li><a href="#">درباره ما</a></li>
                                <li><a href="#">ارتباط با ما</a></li>
                                <li><a href="#">مشاغل</a></li>
                                <li><a href="#">پشتیبانی</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">قوانین و مقررات</a></li>
                                <li><a href="#">حریم خصوصی</a></li>
                                <li><a href="#">بلاگ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="logo"></div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی
                            تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
                            در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم
                            فارسی ایجاد کرد،
                        </p>
                    </div>
                </div>
                <div class="row pt-3 copyRight">
                    <div class="copy-right-text">© 1400 - کلیه حقوق محفوظ است</div>
                    <div class="social-icon">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ############### end footer ################ -->



    <!-- ############### ja files such as:jquery and plugins ############### -->
    <script src="/static/assets/plugins/jquery.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/plugins/fontAwesome/js/all.min.js"></script>
    <script src="/static/assets/plugins/OwlCarousel/js/owl.carousel.min.js"></script>
    <script src="/static/assets/js/main.js"></script>
</body>

</html>