<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>رستوران رز</title>
    <!-- style -->
    <link rel="stylesheet" href="/static/assets/css/resturant-style.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/all.min.css">
</head>

<body>

    <header>
        <div class="container">
            <nav class="nav">
                <div class="menu-toggle" id="menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <a href="index.html" class="logo">
                    <h1>رستوران رز</h1>
                </a>
                <ul class="nav-list">
                    <li class=" nav-item"><a href="" class="nav-link active">خانه</a></li>
                    <li class="nav-item"><a href="" class="nav-link">منو</a></li>
                    <li class="nav-item"><a href="" class="nav-link">رزرو میز</a></li>
                    <li class="nav-item"><a href="" class="nav-link">اخبار</a></li>
                    <li class="nav-item"><a href="" class="nav-link">ارتباط با ما</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- header end -->


    {{{body}}}



    <footer>
        <div class="container">
            <div class="back-to-top">
                <a href="#hero"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer-content">
                <div class="footer-content-about animate-up">
                    <h4>درباره رستوران</h4>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                    </p>
                </div>
                <div class="footer-content-divider animate-bottom">
                    <div class="social-menu">
                        <h4>در شبکه های اجتماعی ما را دنبال کنید</h4>
                        <ul class="social-icons">
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a href=""><i class="fab fa-facebook"></i></a></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-tiktok"></i></a></li>
                        </ul>
                    </div>
                    <div class="newsletter-container">
                        <h4>خبرنامه</h4>
                        <form action="" class="newsletter-form">
                            <input type="text" class="newsletter-input" placeholder="ایمیل خود را وارد کنید...">
                            <button class="newsletter-btn" type="submit">
                                <i class="fas fa-envelope"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/assets/plugins/jquery.min.js"></script>
    <script src="/static/assets/plugins/scrollreveal/scrollreveal.min.js"></script>
    <script src="/static/assets/plugins/fontawesome/js/all.min.js"></script>
    <script src="/static/assets/js/resturant-script.js"></script>
</body>

</html>